<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>WelCome To My First Web Application</h1>
	<hr>
	<h2 th:text="${sucMsg}"></h2>
	<form th:action="@{/save}" th:object=${stu} method="post">
		<pre>
	  SID : 	<input type="text" th:field=*{sid}>
	  
	  SName:	<input type="text" th:field=*{sname}>
	  
	  SCourse:	<input type="text" th:field=*{scourse}> 
	  
	  Male : <input type="radio" th:field="*{gender}" value="Male"> 
	  Female : <input type="radio" th:field="*{gender}" value="Female"> 
	  
	  ChooseCourse: <select th:field="*{courseName}">
	  				<option value="coreJava"> CORE JAVA </option>
	  				<option value="Hibernate"> HIBERNATE </option>
	  				<option value="aws"> AWS </option>
	  				<option value="power BI"> POWER BI </option>
	                </select>
	    
	  <input type="submit" value="register">
		</pre>
	</form>
	<a th:href="@{/search}">Go To Search</a>

</body>
</html>